<app-panel-top></app-panel-top>
<section id="box">
  <audio controls autoplay>
    <source src="plik.mp3" type="audio/mpeg">
  </audio>
  <section id="poczatek">
    <p class="tekst">No siema byku. Tak szczerze to nie mam pomysłu co tu zrobić.</p>
    <video autoplay loop id="tlo">
      <source src="tlo.mp4" type="video/mp4">
    </video>
    <audio controls>
      <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type='audio/mp4'>
      <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga" type='audio/ogg; codecs=vorbis'>
      <p>Your user agent does not support the HTML5 Audio element.</p>
    </audio>
    <p class="aha">joł</p>
  </section>
</section>
