.tekst {
  position: absolute;
  left: 0;
  top: 33%;
  width: 100%;
  z-index: 100;
  font-size: 25px;
  padding: 0px;
  text-align: center;
  text-shadow: 2px 2px black;
}

#box {
  width: 100%;
  min-height: 500px;
}

#tlo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin: 50px 0px 50px 0px;
}

.aha {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px black;
}

.moje {
  text-align: right;
  color: white;
}

#zabawa {
  justify-content: center;
}

.chce {
  color: black;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px darkblue;
  font-size: 30px;
}

.text {
  position: absolute;
  left: 0;
  top: 23%;
  width: 100%;
  z-index: 100;
  font-size: 60px;
  padding: 0px;
  text-align: center;
}

.tekstpod {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  z-index: 100;
  font-size: 35px;
  padding: 0px;
  text-align: center;
}

#muffin {
  display: flex;
  justify-content: center;
  align-items: center;
}
