<div>
    <div id="log">
        <img src="4.png" alt="logo" class="logo">
        <h2 class="tytul">Sklepix</h2>
    </div>

    <button routerLink="/adm_dashboard" class="paneladm">Panel Administratora</button>

    <div style="display: flex; justify-content: center;">
        <input type="text" class="wpisz" [(ngModel)]="this.mainService.productsRequest.name">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
    </div>
    <div>
      <button id="cartBtn" routerLink="/cart">
        Ilość elementów w koszyku: {{getCartQuanity()}}
      </button>
    </div>
</div>
