button {
  margin: 0px 3px 3px 2px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  border-radius: 5px;
}

.wpisz {
  height: 10%;
  width: 10%;
}

.logo {
  margin: 5px;
  height: 100px;
  width: 100px;
}
//moze navbar?
.tytul {
  color: blue;
  font-size: 60px;
  text-shadow: 2px 2px #ff0000;
  margin: 10px 0px 50px 0px;
  font-weight: bold;
}

#log {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

body {
  background-image: url("tak.png");
  background-attachment: fixed;
}

#panelBtna {
  display: flex;
  float: right;
  flex-direction: column;
}

#cartBtn {
  float: right;
}

a:link {
  color: white;
}

a:visited {
  color: #660033;
}

a:hover {
  color: pink;
  background-color: yellow;
}

a:active {
  color: purple;
}

.produktobraz {
  max-width: 200px;
  max-height: 500px;
  margin: 10px;
}
/*
@media screen and (max-width: 575px) {
	#box {
		max-width: auto;
  }
  #jak {
  	max-width: auto;
  }
}

@media screen and (min-width: 576px) {
	#box {
  	max-width: auto;
  }
  #jak {
  	max-width: auto;
  }
}

@media screen and (min-width: 768px) {
	#box {
		max-width: auto;
	}
	#jak {
  	max-width: auto;
  }
}

@media screen and (min-width: 992px) {
	#box {
		max-width: auto;
	}
	#jak {
  	max-width: auto;
  }
}

@media screen and (min-width: 1200px) {
	#box {
		max-width: auto;
  }
  #jak {
  	max-width: auto;
  }
}*/
